@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #3e99ec;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 3vw;
}

body {
  font-family: "Space Mono", "Roboto", sans-serif;
  font-weight: 700;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  background-image: linear-gradient(-45deg, #26262d, #17171c, #444455, #2e2e38, #26262d);
}

.App::-webkit-scrollbar {
  display: none;
}

.header--wrapper {
  width: 100%;
  position: fixed;
  animation: appear 1s;
}

header {
  padding: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--dropdown {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.anim--appear * {
  animation: appear 0.2s ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}

.anim--disappear * {
  animation: disappear 0.2s ease-out;
  animation-fill-mode: forwards;
}

.header--dropdown--icon {
  transform: scale(0.7);
  cursor: pointer;
}

.anim--appear *:nth-child(1n) {
  animation-delay: 0.1s;
}

.anim--appear *:nth-child(2n) {
  animation-delay: 0.2s;
}

.anim--appear *:nth-child(3n) {
  animation-delay: 0.3s;
}

.anim--appear *:nth-child(4n) {
  animation-delay: 0.4s;
}

.anim--appear *:nth-child(5n) {
  animation-delay: 0.5s;
}

.anim--appear *:nth-child(6n) {
  animation-delay: 0.6s;
}

.anim--disappear *:nth-child(1n) {
  animation-delay: 0.1s;
}

.anim--disappear *:nth-child(2n) {
  animation-delay: 0.2s;
}

.anim--disappear *:nth-child(3n) {
  animation-delay: 0.3s;
}

.anim--disappear *:nth-child(4n) {
  animation-delay: 0.4s;
}

.anim--disappear *:nth-child(5n) {
  animation-delay: 0.5s;
}

.anim--disappear *:nth-child(6n) {
  animation-delay: 0.6s;
}

.header--right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3em 0 0 0;
  scroll-snap-align: center;
}

.section--loading {
  background-color: #26262d;
  align-items: center;
  justify-content: center;
}

#hexagon--box {
  animation: getOut 0.5s 3000ms ease-in;
  animation-fill-mode: forwards;
}

#JL--Hexagon {
  animation: scale 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
}

#hexagon--shape {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-delay: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
}

.section--home {
  justify-content: space-around;
}

.title {
  padding: 2em 0 0 2em;
  text-align: left;
}

.section--about {
  flex-direction: column;
  justify-content: space-around;
}

.typist--container {
  height: 35vh;
  color: white;
  padding: 1em 1em;
}

.indented {
  padding-left: 1em;
}

.pink {
  color: #fc00f2;
}

.lightblue {
  color: #3e99ec;
}

.int {
  color: #c5f478;
}

.string {
  color: #d87832;
}

.section--about--text {
  color: white;
  padding: 0 1em;
}

.arrow--down--div {
  display: grid;
  place-items: center;
}

.arrow--down {
  animation: updown 1s infinite linear;
}

.tech-stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1em;
}

.section--projects {
  justify-content: center;
  align-items: center;
}

.section--contact {
  justify-content: space-between;
  align-items: center;
}

.contact--form {
  width: 100%;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 0.5em;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 1em;
}

.contact--form input,
textarea {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 10px;
  background-color: #2e2e38;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.688);
  min-height: 2em;
  color: rgb(204, 214, 255);
}

.contact--form textarea {
  min-height: 4em;
  width: 100%;
}

/*ANIMATION KEYFRAMES*/
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes getOut {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(65vw);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=App.css.map */
