@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap");
$blue: #264653;
$lightblue: #3E99EC;
$teal: #2a9d8f;
$yellow: #e9c46a;
$orange: #f4a261;
$red: #e76f51;
$purple: #6c6ae9;
$green: #6ae979;
$darkgray: #26262d;
$pink: #fc00f2;
$stringorange: #D87832;
$intgreen: #C5F478;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff;
}

h1 {
  font-size: 10vw;
}
h2 {
  font-size: 3vw;
}

body {
  font-family: "Space Mono", "Roboto", sans-serif;
  font-weight: 700;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.App::-webkit-scrollbar {
  display: none;
}

.header--wrapper {
  width: 100%;
  position: fixed;
  animation: appear 1s;
  mix-blend-mode: difference;
  color: $pink;
}

header {
  padding: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
}

.header--dropdown {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.header--dropdown * {
  animation: appear .2s ease-in;
  opacity: 0;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.header--dropdown--icon {
  transform: scale(0.7);
}

@for $i from 1 through 6 {
  .header--dropdown *:nth-child(#{$i}n) {
    animation-delay: #{$i * .1}s;
  }
}

.header--right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
}

section {
  height: calc(100vh - 6em);
  background-color: $pink;
  display: flex;
  flex-direction: column;
  padding: 3em 0;
  scroll-snap-align: center;
}

section:nth-child(2n + 2) {
  background-color: $darkgray;
}

.section--loading {
  background-color: $darkgray;
  align-items: center;
  justify-content: center;
}

#hexagon--box {
  animation: getOut 0.5s 3000ms ease-in;
  animation-fill-mode: forwards;
}

#JL--Hexagon {
  animation: scale 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
}

#hexagon--shape {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-delay: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: center;
  transform-box: fill-box;
}

.section--home {
  justify-content: space-between;
}

.title {
  padding: 1.5em 0 1em 1.5em;
}

.section--home--svgs {
  width: 100%;
  border: 2px solid black;
}

.section--home--svgs img {
  border: 4px solid blue;
}

.home--avatar {
}

.home--bubble {
}

.section--about {
}

.typist--container {
  background-color: #262C33;
  color: white;
}

// .type--animation--row {
//   display:flex;
//   gap: .5em;
// }
.lightblue {
  color: $lightblue;
}

.int {
  color: $intgreen;
}

.string {
  color: $stringorange;
}

.tech-stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1em;
}

.section--projects {
  justify-content: center;
  align-items: center;
}

.section--contact {
}

/*ANIMATION KEYFRAMES*/

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes getOut {
  0% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(-10vw);
  }

  100% {
    transform: translateX(65vw);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
