@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap");
$blue: #264653;
$teal: #2a9d8f;
$yellow: #e9c46a;
$orange: #f4a261;
$red: #e76f51;
$purple: #6c6ae9;
$green: #6ae979;

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10vw;
}
h2 {
  font-size: 3vw;
}

body {
  font-family: "Space Mono", "Roboto", sans-serif;
  font-weight: 700;
  overflow-y: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.App::-webkit-scrollbar {
  display: none;
}

.header--div {
  width: 100%;
  position: fixed;
}

.header--top {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.header--dropdown {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
}

.header--dropdown--icons {
  display: flex;
  gap: 0.5em;
}

.header--right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
}

section {
  height: calc(100vh - 6em);
  display: flex;
  flex-direction: column;
  padding: 3em 1em;
  scroll-snap-align: center;
}

.section--loading {
  background-color: #26262D;
  align-items:center;
  justify-content: center;
}

.section--home {
  background-color: $teal;
  justify-content: space-between;
}

.title {
  margin-left: 1.5em;
}

.section--home--svgs {
  width: 100%;
  border: 2px solid black;
}

.section--home--svgs img {
  border: 4px solid blue;
}

.home--avatar {
}

.home--bubble {
}

.section--about {
  background-color: $purple;
}

.tech-stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1em;
}

.section--projects {
  background-color: $orange;
  justify-content: center;
  align-items: center;
}

.section--contact {
  background-color: $blue;
}
